openapi: 3.1.0
info:
  title: Joltly Public API
  version: "1.0.0"
  description: >
    Read-only REST API for pulling your organization's data out of Joltly —
    bills, revenue statements, cost centers, wells, JIBs, partners, and
    vendors. Server-to-server only; authenticate with an organization API key.
  contact:
    name: Joltly Support
    url: https://joltly.io
servers:
  - url: https://app.joltly.io/api/v1
    description: Production

security:
  - OrgApiKey: []

tags:
  - name: Bills
    description: Accounts-payable bills with coded line items.
  - name: Revenue Statements
    description: Oil & gas revenue statements and their line items.
  - name: Cost Centers
    description: Integration-agnostic list of everything a bill can be coded against.
  - name: Wells
    description: The WELL subset of cost centers with well-specific detail.
  - name: JIBs
    description: Joint interest billings and their entries.
  - name: Partners
    description: JIB partners.
  - name: Vendors
    description: The accounting-system vendor master.

paths:
  /bills:
    get:
      operationId: listBills
      tags: [Bills]
      summary: List bills
      description: Lists the calling organization's bills, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: invoiceDateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: invoiceDateTo
          in: query
          schema: { type: string, format: date-time }
        - name: paidFrom
          in: query
          schema: { type: string, format: date-time }
        - name: paidTo
          in: query
          schema: { type: string, format: date-time }
        - name: paymentStatus
          in: query
          schema: { type: string, maxLength: 50 }
        - name: vendorName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
        - name: invoiceNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
        - name: wellId
          in: query
          description: Bills with at least one line item coded to this well.
          schema: { type: string, maxLength: 100 }
        - name: glAccountId
          in: query
          description: Bills with at least one line item coded to this GL account.
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: A page of bills.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Bill" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /bills/{id}:
    get:
      operationId: getBill
      tags: [Bills]
      summary: Get a bill
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The bill.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Bill" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /revenue-statements:
    get:
      operationId: listRevenueStatements
      tags: [Revenue Statements]
      summary: List revenue statements
      description: Lists the calling organization's revenue statements, newest check date first. Line items are on the detail endpoint.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: checkDateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: checkDateTo
          in: query
          schema: { type: string, format: date-time }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/RevenueStatementStatus" }
        - name: purchaserName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
        - name: statementNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: A page of revenue statements.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RevenueStatementSummary" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /revenue-statements/{id}:
    get:
      operationId: getRevenueStatement
      tags: [Revenue Statements]
      summary: Get a revenue statement
      description: Returns the statement header plus every line item and its deductions.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The revenue statement with line items.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/RevenueStatementDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /cost-centers:
    get:
      operationId: listCostCenters
      tags: [Cost Centers]
      summary: List cost centers
      description: >
        The integration-agnostic list of everything a bill can be coded
        against: wells, fields, and operating groups. Ordered by type
        (WELL, FIELD, OPERATING_GROUP), newest first within each type.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: type
          in: query
          schema: { $ref: "#/components/schemas/CostCenterType" }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of cost centers.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CostCenter" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /wells:
    get:
      operationId: listWells
      tags: [Wells]
      summary: List wells
      description: Lists the calling organization's wells, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: active
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: state
          in: query
          schema: { type: string, maxLength: 50 }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
        - name: code
          in: query
          description: Exact match.
          schema: { type: string, maxLength: 100 }
        - name: apiNumber
          in: query
          description: Exact match.
          schema: { type: string, maxLength: 50 }
      responses:
        "200":
          description: A page of wells.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Well" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /wells/{id}:
    get:
      operationId: getWell
      tags: [Wells]
      summary: Get a well
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The well.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Well" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /jibs:
    get:
      operationId: listJibs
      tags: [JIBs]
      summary: List JIBs
      description: Lists the calling organization's JIBs, newest first. Entries are on the detail endpoint.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: period
          in: query
          description: Billing period, YYYY-MM.
          schema: { type: string, pattern: "^\\d{4}-\\d{2}$" }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/JibStatus" }
        - name: partnerId
          in: query
          schema: { type: string, maxLength: 100 }
        - name: jibNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
        - name: partnerName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of JIBs.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/JibSummary" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /jibs/{id}:
    get:
      operationId: getJib
      tags: [JIBs]
      summary: Get a JIB
      description: Returns the JIB header plus a computed totalAmount and every entry.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The JIB with entries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/JibDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /partners:
    get:
      operationId: listPartners
      tags: [Partners]
      summary: List partners
      description: Lists the calling organization's JIB partners, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: isActive
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of partners.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Partner" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /partners/{id}:
    get:
      operationId: getPartner
      tags: [Partners]
      summary: Get a partner
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The partner.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Partner" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /vendors:
    get:
      operationId: listVendors
      tags: [Vendors]
      summary: List vendors
      description: The organization's accounting-system vendor list, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: active
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of vendors.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Vendor" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /vendors/{id}:
    get:
      operationId: getVendor
      tags: [Vendors]
      summary: Get a vendor
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The vendor.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Vendor" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    OrgApiKey:
      type: http
      scheme: bearer
      description: >
        Organization API key sent as a bearer token
        (`Authorization: Bearer <key>`). Keys are created and revoked by your
        organization's admins on Joltly's API key management page.

  parameters:
    limit:
      name: limit
      in: query
      description: Page size, 1–100. Defaults to 25.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    cursor:
      name: cursor
      in: query
      description: Opaque token from the previous response's `pagination.nextCursor`.
      schema: { type: string, maxLength: 300 }
    updatedSince:
      name: updatedSince
      in: query
      description: ISO 8601 timestamp. Returns only records modified at or after this time.
      schema: { type: string, format: date-time }
    idPath:
      name: id
      in: path
      required: true
      schema: { type: string }

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: invalid_request, message: "limit must be an integer between 1 and 100" } }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: unauthorized, message: "Invalid API key" } }
    NotFound:
      description: Resource not found (or not visible to your organization).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: not_found, message: "Bill not found" } }
    RateLimited:
      description: Rate limit exceeded (120 requests per minute per organization).
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: rate_limited, message: "Rate limit exceeded" } }

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [unauthorized, rate_limited, not_found, invalid_request, internal_error]
            message: { type: string }

    Pagination:
      type: object
      required: [nextCursor]
      properties:
        nextCursor:
          type: [string, "null"]
          description: Token for the next page, or null when there are no more records.

    RevenueStatementStatus:
      type: string
      enum: [DRAFT, REVIEW, APPROVED, REJECTED, ERROR]

    JibStatus:
      type: string
      enum: [DRAFT, SENT, FINALIZED, PAID, ARCHIVED]

    CostCenterType:
      type: string
      enum: [WELL, FIELD, OPERATING_GROUP]

    GlAccountRef:
      type: [object, "null"]
      properties:
        id: { type: string }
        accountNumber: { type: [string, "null"] }
        name: { type: [string, "null"] }

    WellRef:
      type: [object, "null"]
      properties:
        id: { type: string }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber: { type: [string, "null"] }

    ProductRef:
      type: [object, "null"]
      properties:
        code: { type: [string, "null"] }
        name: { type: [string, "null"] }

    Bill:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        invoiceNumber: { type: [string, "null"] }
        invoiceDate: { type: [string, "null"], format: date-time }
        vendorName: { type: [string, "null"] }
        totalAmount: { type: [number, "null"] }
        paymentStatus: { type: [string, "null"] }
        paymentMethod: { type: [string, "null"] }
        scheduledAt: { type: [string, "null"], format: date-time }
        deductionDate: { type: [string, "null"], format: date-time }
        paidAt: { type: [string, "null"], format: date-time }
        achTraceNumber: { type: [string, "null"] }
        accountingSync:
          type: object
          properties:
            status: { type: [string, "null"] }
            externalBillId: { type: [string, "null"] }
            isPosted: { type: [boolean, "null"] }
            lastStatusAt: { type: [string, "null"], format: date-time }
        lineItems:
          type: array
          items: { $ref: "#/components/schemas/BillLineItem" }

    BillLineItem:
      type: object
      properties:
        id: { type: string }
        description: { type: [string, "null"] }
        amount: { type: [number, "null"] }
        categoryType: { type: [string, "null"] }
        glAccount: { $ref: "#/components/schemas/GlAccountRef" }
        well: { $ref: "#/components/schemas/WellRef" }

    RevenueStatementSummary:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        statementNumber: { type: [string, "null"] }
        purchaserName: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/RevenueStatementStatus" }
        checkDate: { type: [string, "null"], format: date-time }
        grossRevenue: { type: [number, "null"] }
        checkTaxes: { type: [number, "null"] }
        checkDeductions: { type: [number, "null"] }
        amountWithheld: { type: [number, "null"] }
        netPayment: { type: [number, "null"] }

    RevenueStatementDetail:
      allOf:
        - { $ref: "#/components/schemas/RevenueStatementSummary" }
        - type: object
          properties:
            lineItems:
              type: array
              items: { $ref: "#/components/schemas/RevenueLineItem" }

    RevenueLineItem:
      type: object
      properties:
        id: { type: string }
        lineNumber: { type: [integer, "null"] }
        productionDate: { type: [string, "null"], format: date-time }
        leaseNumber: { type: [string, "null"] }
        leaseDescription: { type: [string, "null"] }
        product: { $ref: "#/components/schemas/ProductRef" }
        unit: { $ref: "#/components/schemas/ProductRef" }
        interestType: { $ref: "#/components/schemas/ProductRef" }
        price: { type: [number, "null"] }
        wellGrossVolume: { type: [number, "null"] }
        wellGrossValue: { type: [number, "null"] }
        wellNetValue: { type: [number, "null"] }
        ownerInterest: { type: [number, "null"] }
        distributionInterest: { type: [number, "null"] }
        ownerGrossVolume: { type: [number, "null"] }
        ownerGrossValue: { type: [number, "null"] }
        ownerNetValue: { type: [number, "null"] }
        well: { $ref: "#/components/schemas/WellRef" }
        deductions:
          type: array
          items: { $ref: "#/components/schemas/RevenueDeduction" }

    RevenueDeduction:
      type: object
      properties:
        id: { type: string }
        description: { type: [string, "null"] }
        amount: { type: [number, "null"] }
        scope: { type: [string, "null"] }
        type:
          type: [object, "null"]
          properties:
            code: { type: [string, "null"] }
            name: { type: [string, "null"] }
            category: { type: [string, "null"] }

    CostCenter:
      type: object
      properties:
        id: { type: string }
        type: { $ref: "#/components/schemas/CostCenterType" }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber:
          type: [string, "null"]
          description: WELL only; null for fields and operating groups.
        active:
          type: [boolean, "null"]
          description: WELL only; null for fields and operating groups.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Well:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber: { type: [string, "null"] }
        operator: { type: [string, "null"] }
        operatedByOrg: { type: [boolean, "null"] }
        active: { type: [boolean, "null"] }
        status: { type: [string, "null"] }
        state: { type: [string, "null"] }
        county: { type: [string, "null"] }
        legalDescription: { type: [string, "null"] }
        spudDate: { type: [string, "null"], format: date-time }
        completionDate: { type: [string, "null"], format: date-time }
        firstProductionDate: { type: [string, "null"], format: date-time }
        shutInDate: { type: [string, "null"], format: date-time }
        plugDate: { type: [string, "null"], format: date-time }
        inactiveDate: { type: [string, "null"], format: date-time }

    JibSummary:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        jibNumber: { type: [string, "null"] }
        period: { type: [string, "null"], description: "Billing period, YYYY-MM." }
        periodStatus: { type: [string, "null"] }
        partnerId: { type: [string, "null"] }
        partnerName: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/JibStatus" }
        dueDate: { type: [string, "null"], format: date-time }
        sentDate: { type: [string, "null"], format: date-time }
        paidDate: { type: [string, "null"], format: date-time }

    JibDetail:
      allOf:
        - { $ref: "#/components/schemas/JibSummary" }
        - type: object
          properties:
            totalAmount:
              type: number
              description: Net of debits and credits.
            entries:
              type: array
              items: { $ref: "#/components/schemas/JibEntry" }

    JibEntry:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        entryType: { type: string, enum: [DEBIT, CREDIT] }
        reason: { type: [string, "null"] }
        amount:
          type: number
          description: Always positive; entryType determines the sign.
        grossAmount: { type: [number, "null"] }
        interestPercent:
          type: [number, "null"]
          description: Human percent, 0–100.
        description: { type: [string, "null"] }
        vendorName: { type: [string, "null"] }
        invoiceNumber: { type: [string, "null"] }
        expenseDate: { type: [string, "null"], format: date-time }
        serviceStartDate: { type: [string, "null"], format: date-time }
        serviceEndDate: { type: [string, "null"], format: date-time }
        well: { $ref: "#/components/schemas/WellRef" }
        glAccount: { $ref: "#/components/schemas/GlAccountRef" }

    Partner:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        email: { type: [string, "null"] }
        phone: { type: [string, "null"] }
        address: { type: [string, "null"] }
        isActive: { type: [boolean, "null"] }
        externalId: { type: [string, "null"] }
        quickbooksCustomerId: { type: [string, "null"] }
        quickbooksVendorId: { type: [string, "null"] }

    Vendor:
      type: object
      properties:
        id:
          type: string
          description: The vendor's ID in your accounting system (ODA/QuickBooks).
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        active: { type: [boolean, "null"] }
        lastSyncedAt: { type: [string, "null"], format: date-time }
