openapi: 3.1.0
info:
  title: Joltly Public API
  version: "1.3.0"
  description: >
    REST API for your organization's data in Joltly — bills (including line
    coding writes), revenue statements, GL accounts, cost centers, wells,
    JIBs, partners, vendors, and the synced bank ledger. Server-to-server
    only; authenticate with an organization API key or a user access token.
    Payment schedule/execute stay in the Joltly web app. Bank endpoints read
    already-synced transactions and never call Plaid.
  contact:
    name: Joltly Support
    url: https://joltly.io
servers:
  - url: https://app.joltly.io/api/v1
    description: Production

security:
  - OrgApiKey: []

tags:
  - name: Bills
    description: >
      Accounts-payable bills with coded line items. Supports coding writes,
      notes, hold (do-not-pay), soft delete, submit-for-approval, and sync
      retry. Approval and payment execution remain in the Joltly app.
  - name: GL Accounts
    description: Chart of accounts used when coding bill line items.
  - name: Revenue Statements
    description: Oil & gas revenue statements and their line items.
  - name: Cost Centers
    description: Integration-agnostic list of everything a bill can be coded against.
  - name: Wells
    description: The WELL subset of cost centers with well-specific detail.
  - name: JIBs
    description: Joint interest billings and their entries.
  - name: Partners
    description: JIB partners.
  - name: Vendors
    description: >
      The accounting-system vendor master, plus consolidated remittance
      advice for bills already paid to a vendor.
  - name: Approvers
    description: >
      The organization's users, as approval routing sees them. Read-only —
      membership and roles are managed in the Joltly app.
  - name: Reports
    description: Derived financial reports for BI / SQL ingestion.
  - name: Banking
    description: >
      Synced customer bank accounts and ledger (Plaid transactions already
      stored in Joltly). Never calls Plaid. Hides Joltly platform treasury.
      Matching confirm/reject, live balance refresh, and link/unlink are not
      available.

paths:
  /bills:
    get:
      operationId: listBills
      tags: [Bills]
      summary: List bills
      description: Lists the calling organization's bills, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: invoiceDateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: invoiceDateTo
          in: query
          schema: { type: string, format: date-time }
        - name: paidFrom
          in: query
          schema: { type: string, format: date-time }
        - name: paidTo
          in: query
          schema: { type: string, format: date-time }
        - name: paymentStatus
          in: query
          description: >
            Comma-separated list of statuses to include. Values are matched
            case-sensitively against the statuses the product actually
            produces (INBOX, READY_FOR_REVIEW, APPROVED, PAYMENT_SCHEDULED,
            PAYMENT_PROCESSING, PAYMENT_IN_TRANSIT, PAYMENT_FAILED, PAID,
            CANCELED, ARCHIVED) — an invented status such as `UNPAID` filters
            to zero rows rather than erroring.
          schema: { type: string, maxLength: 300 }
        - name: excludePaymentStatus
          in: query
          description: >
            Comma-separated statuses to omit. Applied after `paymentStatus`.
            Bills with no status set are kept, so excluding `PAID` returns
            open AP rather than only bills whose status is explicitly set.
          schema: { type: string, maxLength: 300 }
        - name: minAmount
          in: query
          description: Inclusive lower bound on `totalAmount`, in USD.
          schema: { type: number }
        - name: maxAmount
          in: query
          description: Inclusive upper bound on `totalAmount`, in USD.
          schema: { type: number }
        - name: includeSettlement
          in: query
          description: >
            Pass `true` to add the `payment` object to every row. Off by
            default because it costs a bank-ledger lookup per bill. A `PAID`
            bill with `payment.settledAt: null` is a real signal — nothing in
            the ledger corroborates the payment — not a missing field.
          schema: { type: string, enum: ["true", "false"] }
        - name: vendorName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
        - name: invoiceNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
        - name: wellId
          in: query
          description: Bills with at least one line item coded to this well.
          schema: { type: string, maxLength: 100 }
        - name: glAccountId
          in: query
          description: Bills with at least one line item coded to this GL account.
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: A page of bills.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Bill" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /bills/{id}:
    get:
      operationId: getBill
      tags: [Bills]
      summary: Get a bill
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The bill.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Bill" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bills/{id}/line-items:
    put:
      operationId: replaceBillLineItems
      tags: [Bills]
      summary: Replace bill line-item coding
      description: >
        Full-replace line coding (GL + cost center). Line amounts must sum to
        the bill `totalAmount` (error names the delta). `dryRun: true` validates
        without writing. A successful commit triggers accounting re-sync
        (ODA/QuickBooks). Rejected for PAID / PAYMENT_PROCESSING / APPROVED
        unless `force` is set. Does not approve or schedule payment.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReplaceBillLineItemsRequest" }
      responses:
        "200":
          description: Validation preview (dryRun) or updated bill after commit.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/CodeBillResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bills/{id}/actions:
    post:
      operationId: billAction
      tags: [Bills]
      summary: Run a bill action
      description: >
        Curated write actions for agents and integrations. Supported actions:
        `add_note`, `hold` (do-not-pay + reason), `delete` (soft/cancel),
        `submit_for_approval`, `retry_sync`. Payment schedule/execute/approve
        are not available here.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BillActionRequest" }
      responses:
        "200":
          description: Action result (may be a dry-run preview).
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: object, additionalProperties: true }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bills/{id}/coding-suggestions:
    get:
      operationId: getBillCodingSuggestions
      tags: [Bills]
      summary: Suggest bill coding
      description: >
        Ranked GL + cost-center suggestions from historical lines for the same
        vendor, plus BAML/extraction suggestions already on the bill.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: Coding suggestions and extraction metadata.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/BillCodingSuggestions" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bills/{id}/attachments:
    get:
      operationId: getBillAttachments
      tags: [Bills]
      summary: List a bill's attachments
      description: >
        The invoice PDF plus any supplementary files. URLs are time-limited
        and are not stable identifiers — re-read this endpoint rather than
        storing them.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: Attachment URLs for the bill.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/BillAttachments" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bills/{id}/duplicates:
    get:
      operationId: getBillDuplicates
      tags: [Bills]
      summary: Find duplicate candidates for a bill
      description: >
        Other bills in the same organization that may be the same invoice,
        found either by an exact invoice-number collision or by a
        vendor-and-amount match. Candidates only — a match here is a prompt to
        look, never grounds to cancel a bill automatically. Canceled,
        archived, and previously dismissed bills are excluded, and at most
        five matches are returned.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: Duplicate candidates. `matches` is empty when none are found.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/BillDuplicates" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /gl-accounts:
    get:
      operationId: listGlAccounts
      tags: [GL Accounts]
      summary: List GL accounts
      description: >
        Chart of accounts for coding bills. Use before writing line items to
        resolve a name or code (e.g. "insurance") to an id.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - name: q
          in: query
          description: Case-insensitive name or code substring.
          schema: { type: string, maxLength: 200 }
        - name: active
          in: query
          description: When true, only active non-deleted accounts.
          schema: { type: string, enum: ["true", "false"] }
      responses:
        "200":
          description: A page of GL accounts.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/GlAccount" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /revenue-statements:
    get:
      operationId: listRevenueStatements
      tags: [Revenue Statements]
      summary: List revenue statements
      description: Lists the calling organization's revenue statements, newest check date first. Line items are on the detail endpoint.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: checkDateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: checkDateTo
          in: query
          schema: { type: string, format: date-time }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/RevenueStatementStatus" }
        - name: purchaserName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
        - name: statementNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: A page of revenue statements.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RevenueStatementSummary" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /revenue-statements/{id}:
    get:
      operationId: getRevenueStatement
      tags: [Revenue Statements]
      summary: Get a revenue statement
      description: Returns the statement header plus every line item and its deductions.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The revenue statement with line items.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/RevenueStatementDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /revenue-statements/missing:
    get:
      operationId: getMissingRevenueStatements
      tags: [Revenue Statements]
      summary: Summarize outstanding revenue statements
      description: >
        Purchasers who owe a revenue statement, grouped by purchaser rather
        than by month because that is the unit of action — one purchaser
        owing six months is one phone call, not six.


        Read `paidNoStatement` as the trustworthy subset: money landed in the
        bank and nothing was filed against it. The wider `purchasers` list
        also includes cadence inferences, which are a prediction rather than
        a fact.


        `unattributedDeposits` is always present, including when it is zero,
        because check and cash deposits carry no payer name — a purchaser who
        pays by check will never appear as a row here. Do not present this
        response as a complete picture without reading it.
      parameters:
        - name: months
          in: query
          description: Lookback window in months, 1–24. Defaults to 6.
          schema: { type: integer, minimum: 1, maximum: 24, default: 6 }
      responses:
        "200":
          description: Outstanding-statement rollup. Not paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MissingStatementsSummary" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /cost-centers:
    get:
      operationId: listCostCenters
      tags: [Cost Centers]
      summary: List cost centers
      description: >
        The integration-agnostic list of everything a bill can be coded
        against: wells, fields, and operating groups. Ordered by type
        (WELL, FIELD, OPERATING_GROUP), newest first within each type.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: type
          in: query
          schema: { $ref: "#/components/schemas/CostCenterType" }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of cost centers.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CostCenter" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /wells:
    get:
      operationId: listWells
      tags: [Wells]
      summary: List wells
      description: Lists the calling organization's wells, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: active
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: state
          in: query
          schema: { type: string, maxLength: 50 }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
        - name: code
          in: query
          description: Exact match.
          schema: { type: string, maxLength: 100 }
        - name: apiNumber
          in: query
          description: Exact match.
          schema: { type: string, maxLength: 50 }
      responses:
        "200":
          description: A page of wells.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Well" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /wells/{id}:
    get:
      operationId: getWell
      tags: [Wells]
      summary: Get a well
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The well.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Well" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /jibs:
    get:
      operationId: listJibs
      tags: [JIBs]
      summary: List JIBs
      description: Lists the calling organization's JIBs, newest first. Entries are on the detail endpoint.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: period
          in: query
          description: Billing period, YYYY-MM.
          schema: { type: string, pattern: "^\\d{4}-\\d{2}$" }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/JibStatus" }
        - name: partnerId
          in: query
          schema: { type: string, maxLength: 100 }
        - name: jibNumber
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 100 }
        - name: partnerName
          in: query
          description: Case-insensitive substring match.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of JIBs.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/JibSummary" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /jibs/{id}:
    get:
      operationId: getJib
      tags: [JIBs]
      summary: Get a JIB
      description: Returns the JIB header plus a computed totalAmount and every entry.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The JIB with entries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/JibDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /partners:
    get:
      operationId: listPartners
      tags: [Partners]
      summary: List partners
      description: Lists the calling organization's JIB partners, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: isActive
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of partners.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Partner" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /partners/{id}:
    get:
      operationId: getPartner
      tags: [Partners]
      summary: Get a partner
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The partner.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Partner" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /vendors:
    get:
      operationId: listVendors
      tags: [Vendors]
      summary: List vendors
      description: The organization's accounting-system vendor list, newest first.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: active
          in: query
          schema: { type: string, enum: ["true", "false"] }
        - name: q
          in: query
          description: Case-insensitive name search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of vendors.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Vendor" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /vendors/{id}:
    get:
      operationId: getVendor
      tags: [Vendors]
      summary: Get a vendor
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The vendor.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Vendor" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /vendors/{id}/remittance-advice:
    post:
      operationId: sendVendorRemittanceAdvice
      tags: [Vendors]
      summary: Build or send a remittance advice
      description: >
        Builds one consolidated remittance advice covering several bills paid
        to this vendor, and with `dryRun: false` emails it.


        **`dryRun` defaults to `true`.** This is the only write in the API
        that leaves the building, so an omitted flag never means "send". The
        intended shape is: call once to show the operator the exact `html`
        and `text` that would go out, get a yes, then repeat the call with
        `dryRun: false`. The document is not rebuilt between the two calls in
        any way that could change its content, and the response body is
        identical apart from the `sent` block.


        Dates quoted are settlement dates from the bank ledger, never
        `bill.paidAt` — see the `payment` object on `Bill`. Any line the bank
        does not corroborate carries a `caveat` and is counted in
        `unconfirmedCount`; `confirmedAmount` is the portion that is safe to
        assert to a third party.
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RemittanceAdviceRequest" }
      responses:
        "200":
          description: >
            The built advice. `sent` is `false` on a dry run and reflects the
            real outcome otherwise.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/RemittanceAdvice" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: >
            The advice was built but could not be sent because the vendor has
            no remittance email on file. Add one to the vendor record, or pass
            `recipientEmail`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /approvers:
    get:
      operationId: listApprovers
      tags: [Approvers]
      summary: List the organization's approvers
      description: >
        The organization's users, as bill approval routing sees them. Use this
        to resolve a `Bill.assignedTo` id to a person. Not paginated —
        `pagination.nextCursor` is always `null`.
      responses:
        "200":
          description: Every user in the organization, sorted by name.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Approver" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bank-accounts:
    get:
      operationId: listBankAccounts
      tags: [Banking]
      summary: List connected bank accounts
      description: >
        Customer bank accounts already linked and synced for this organization.
        Hides inactive, deleted, and Joltly platform-treasury accounts.
        `latestBalance` is the last stored snapshot — not a live Plaid call.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
      responses:
        "200":
          description: A page of bank accounts.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BankAccount" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bank-transactions:
    get:
      operationId: listBankTransactions
      tags: [Banking]
      summary: List bank transactions
      description: >
        Synced bank ledger rows for this organization (already stored
        BankTransaction records). Amount is absolute; `direction` is CREDIT
        (money in) or DEBIT (money out). Does not call Plaid.
      parameters:
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - { $ref: "#/components/parameters/updatedSince" }
        - name: accountId
          in: query
          schema: { type: string, maxLength: 100 }
        - name: direction
          in: query
          schema: { type: string, enum: [CREDIT, DEBIT] }
        - name: matchStatus
          in: query
          schema: { type: string, enum: [matched, suggested, unmatched, excluded] }
        - name: dateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: dateTo
          in: query
          schema: { type: string, format: date-time }
        - name: q
          in: query
          description: Case-insensitive name or merchant search.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: A page of bank transactions.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BankTransaction" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bank-transactions/{id}:
    get:
      operationId: getBankTransaction
      tags: [Banking]
      summary: Get a bank transaction
      parameters:
        - { $ref: "#/components/parameters/idPath" }
      responses:
        "200":
          description: The bank transaction, including slim matches.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/BankTransaction" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /bank-activity:
    get:
      operationId: getBankActivity
      tags: [Banking]
      summary: Summarize bank activity
      description: >
        Credits, debits, net, and unmatched counts over the synced ledger.
        Defaults to the last 30 days. Never calls Plaid.
      parameters:
        - name: dateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: dateTo
          in: query
          schema: { type: string, format: date-time }
        - name: accountId
          in: query
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: Bank activity rollup.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/BankActivitySummary" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /profit-loss:
    get:
      operationId: getProfitLoss
      tags: [Reports]
      summary: Get the profit & loss report
      description: >
        The calling organization's P&L as a single derived report (not
        paginated). Revenue comes from approved statements, expenses from coded
        bills — a management report, not audited books. Capital spend is broken
        out into a dedicated `capex` section and is EXCLUDED from
        `expenses.total` and `netIncome`. A separate `cashFlow` section reports
        money actually moved in the period (revenue received vs. bills paid),
        independent of the accrual/interest bases. Every row carries a `byMonth`
        map keyed by the `months` array plus a period `total`.
      parameters:
        - name: startDate
          in: query
          description: ISO 8601 date. Start of the reported window. Defaults to the first of the month 12 months ago.
          schema: { type: string, format: date-time }
        - name: endDate
          in: query
          description: ISO 8601 date. End of the reported window. Defaults to the end of the current month.
          schema: { type: string, format: date-time }
        - name: wellId
          in: query
          description: Repeatable. Restrict the report to these wells. Omit for all wells.
          schema: { type: array, items: { type: string, maxLength: 100 } }
          style: form
          explode: true
        - name: revenueDateBasis
          in: query
          description: Bucket revenue by production month (default) or by check date.
          schema: { type: string, enum: [production, check], default: production }
        - name: expenseDateBasis
          in: query
          description: Bucket expenses by invoice date (accrual, default) or by paid date (cash).
          schema: { type: string, enum: [invoice, paid], default: invoice }
        - name: interestBasis
          in: query
          description: Owner net interest (default) or gross 8/8 well-level values.
          schema: { type: string, enum: [owner, eightEighths], default: owner }
      responses:
        "200":
          description: The profit & loss report.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/ProfitLossReport" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /spend-summary:
    get:
      operationId: getSpendSummary
      tags: [Reports]
      summary: Summarize spend by vendor, well, or GL account
      description: >
        Totals coded bill line items over a date window, grouped one way. Use
        this rather than paging `/bills` and adding the amounts up yourself —
        this aggregates server-side over every line in range, so the answer
        does not quietly depend on how many pages the caller fetched.


        Line items are bucketed by their own `invoiceDate`. Uncoded lines
        still count, under `(no vendor)` / `(not well-coded)` / `(uncoded)`.
        Bills in range that have no line items at all cannot be grouped, so
        they are excluded and counted in `excludedBillCount` — a non-zero
        value there means `grandTotal` is lower than true spend.
      parameters:
        - name: groupBy
          in: query
          required: true
          description: The single dimension to total against.
          schema: { type: string, enum: [vendor, well, glAccount] }
        - name: dateFrom
          in: query
          required: true
          description: Inclusive start of the window, matched against line-item invoice date.
          schema: { type: string, format: date-time }
        - name: dateTo
          in: query
          required: true
          description: Inclusive end of the window.
          schema: { type: string, format: date-time }
        - name: vendorName
          in: query
          description: Case-insensitive substring filter applied before grouping.
          schema: { type: string, maxLength: 200 }
        - name: wellId
          in: query
          description: Restrict to lines coded to this well.
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: The spend rollup. Not paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/SpendSummary" }
        "400":
          description: >
            Invalid parameters — including `dateFrom` later than `dateTo`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    OrgApiKey:
      type: http
      scheme: bearer
      description: >
        Organization API key sent as a bearer token
        (`Authorization: Bearer <key>`). Keys are created and revoked by your
        organization's admins on Joltly's API key management page.

  parameters:
    limit:
      name: limit
      in: query
      description: Page size, 1–100. Defaults to 25.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    cursor:
      name: cursor
      in: query
      description: Opaque token from the previous response's `pagination.nextCursor`.
      schema: { type: string, maxLength: 300 }
    updatedSince:
      name: updatedSince
      in: query
      description: ISO 8601 timestamp. Returns only records modified at or after this time.
      schema: { type: string, format: date-time }
    idPath:
      name: id
      in: path
      required: true
      schema: { type: string }

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: invalid_request, message: "limit must be an integer between 1 and 100" } }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: unauthorized, message: "Invalid API key" } }
    NotFound:
      description: Resource not found (or not visible to your organization).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: not_found, message: "Bill not found" } }
    RateLimited:
      description: Rate limit exceeded (120 requests per minute per organization).
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { code: rate_limited, message: "Rate limit exceeded" } }

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [unauthorized, rate_limited, not_found, invalid_request, internal_error]
            message: { type: string }

    Pagination:
      type: object
      required: [nextCursor]
      properties:
        nextCursor:
          type: [string, "null"]
          description: Token for the next page, or null when there are no more records.

    RevenueStatementStatus:
      type: string
      enum: [DRAFT, REVIEW, APPROVED, REJECTED, ERROR]

    JibStatus:
      type: string
      enum: [DRAFT, SENT, FINALIZED, PAID, ARCHIVED]

    CostCenterType:
      type: string
      enum: [WELL, FIELD, OPERATING_GROUP]

    GlAccountRef:
      type: [object, "null"]
      properties:
        id: { type: string }
        accountNumber: { type: [string, "null"] }
        name: { type: [string, "null"] }

    GlAccount:
      type: object
      properties:
        id: { type: string }
        code: { type: string }
        name: { type: string }
        accountType: { type: [string, "null"] }
        active: { type: boolean }

    WellRef:
      type: [object, "null"]
      properties:
        id: { type: string }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber: { type: [string, "null"] }

    CostCenterRef:
      type: [object, "null"]
      properties:
        id: { type: string }
        type: { $ref: "#/components/schemas/CostCenterType" }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }

    ProductRef:
      type: [object, "null"]
      properties:
        code: { type: [string, "null"] }
        name: { type: [string, "null"] }

    Bill:
      type: object
      properties:
        id: { type: string }
        organizationId:
          type: string
          description: >
            Owning organization. Carried on the row rather than the envelope
            because a key with access to several organizations gets one
            interleaved page.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        invoiceNumber: { type: [string, "null"] }
        invoiceDate: { type: [string, "null"], format: date-time }
        dueDate:
          type: [string, "null"]
          format: date-time
          description: >
            Vendor's stated due date as captured from the invoice. Null when
            the invoice did not state one — it is not derived from terms.
        vendorName: { type: [string, "null"] }
        totalAmount: { type: [number, "null"] }
        paymentStatus: { type: [string, "null"] }
        paymentMethod: { type: [string, "null"] }
        scheduledAt: { type: [string, "null"], format: date-time }
        deductionDate: { type: [string, "null"], format: date-time }
        paidAt:
          type: [string, "null"]
          format: date-time
          description: >
            When Joltly observed the status change — a bookkeeping stamp, not
            when money moved. For anything vendor-facing read
            `payment.settledAt` instead.
        statusUpdatedAt:
          type: [string, "null"]
          format: date-time
          description: Same value as `paidAt`, under the name that describes it.
        achTraceNumber: { type: [string, "null"] }
        payment:
          description: >
            Settlement as the bank ledger tells it. Present on the detail
            endpoint, and on list rows only when `includeSettlement=true`.
          $ref: "#/components/schemas/BillSettlement"
        assignedTo:
          type: [string, "null"]
          description: Next approver / assigned user id when present.
        doNotPay: { type: boolean }
        doNotPayReason: { type: [string, "null"] }
        openInJoltly:
          type: string
          description: Authenticated deep link to the bill review workspace.
        accountingSync:
          type: object
          properties:
            status: { type: [string, "null"] }
            message:
              type: [string, "null"]
              description: Last sync error detail when status is failed.
            externalBillId: { type: [string, "null"] }
            isPosted: { type: [boolean, "null"] }
            lastStatusAt: { type: [string, "null"], format: date-time }
        lineItems:
          type: array
          description: Always present; empty array means honestly uncoded.
          items: { $ref: "#/components/schemas/BillLineItem" }

    BillLineItem:
      type: object
      properties:
        id:
          type: string
          description: Stable line key used when writing coding updates.
        description: { type: [string, "null"] }
        amount: { type: [number, "null"] }
        categoryType: { type: [string, "null"] }
        date:
          type: [string, "null"]
          format: date
          description: >-
            When the charge on this line occurred, as best the source document
            says. Month-granularity sources resolve to the first of the month.
            Read `dateType` before treating this as an accrual date: only
            `activity_month` and `service_date` come from the line itself;
            `accounting_month` and `invoice_date` are billing-cycle stand-ins
            used when the document printed nothing more specific. Never guessed.
        dateType:
          type: [string, "null"]
          enum: [activity_month, service_date, accounting_month, invoice_date, null]
          description: >-
            Which date `date` is. `activity_month` — JIB row Activity Month;
            `service_date` — vendor invoice line service date;
            `accounting_month` — JIB header Op Accounting Month;
            `invoice_date` — the bill's invoice date.
        glAccount: { $ref: "#/components/schemas/GlAccountRef" }
        well: { $ref: "#/components/schemas/WellRef" }
        costCenter: { $ref: "#/components/schemas/CostCenterRef" }
        codingSource:
          type: [string, "null"]
          description: Provenance from extraction / history / manual (e.g. ai, historical).
        codingConfidence: { type: [number, "null"] }
        codingReasoning: { type: [string, "null"] }
        suggestedCoding:
          type: [object, "null"]
          properties:
            glAccountId: { type: [string, "null"] }
            wellOrAfeId: { type: [string, "null"] }
            alreadyApplied: { type: boolean }

    ReplaceBillLineItemsRequest:
      type: object
      required: [lineItems]
      properties:
        dryRun:
          type: boolean
          default: false
          description: When true, validate and preview without writing.
        force:
          type: boolean
          default: false
          description: Override locked-status gates (audited; use sparingly).
        lineItems:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            required: [glAccountId, amount]
            properties:
              id:
                type: [string, "null"]
                description: Existing line id from GET /bills/{id}; omit to assign by order.
              glAccountId: { type: string }
              costCenterId:
                type: [string, "null"]
                description: Well, field, or operating group id from /cost-centers.
              amount: { type: number }
              memo: { type: [string, "null"] }

    CodeBillResult:
      type: object
      properties:
        ok: { type: boolean }
        dryRun: { type: boolean }
        wouldChange: { type: boolean }
        preview:
          type: object
          properties:
            lineCount: { type: integer }
            totalAmount: { type: number }
            billTotalAmount: { type: number }
            summary: { type: string }
        bill: { $ref: "#/components/schemas/Bill" }
        warnings:
          type: array
          items: { type: string }

    BillActionRequest:
      oneOf:
        - type: object
          required: [action, text]
          properties:
            action: { type: string, enum: [add_note] }
            text: { type: string, maxLength: 5000 }
            dryRun: { type: boolean, default: false }
        - type: object
          required: [action, reason]
          properties:
            action: { type: string, enum: [hold] }
            reason: { type: string, maxLength: 2000 }
            dryRun: { type: boolean, default: false }
        - type: object
          required: [action]
          properties:
            action: { type: string, enum: [delete, retry_sync] }
            dryRun: { type: boolean, default: false }
        - type: object
          required: [action]
          properties:
            action: { type: string, enum: [submit_for_approval] }
            approverId: { type: string, maxLength: 100 }
            dryRun: { type: boolean, default: false }

    BillCodingSuggestions:
      type: object
      properties:
        billId: { type: string }
        vendorName: { type: [string, "null"] }
        totalAmount: { type: [number, "null"] }
        openInJoltly: { type: string }
        suggestions:
          type: array
          items:
            type: object
            properties:
              glAccountId: { type: [string, "null"] }
              costCenterId: { type: [string, "null"] }
              costCenterType: { type: [string, "null"] }
              glLabel: { type: [string, "null"] }
              costCenterLabel: { type: [string, "null"] }
              confidence: { type: number }
              evidence: { type: string }
              priorCount: { type: integer }
        extraction:
          type: array
          items: { type: object, additionalProperties: true }

    BillSettlement:
      type: [object, "null"]
      description: >
        What the bank ledger — or, failing that, the payment provider — says
        about this bill actually settling. A `PAID` bill whose `settledAt` is
        `null` is not a gap in the data: it means nothing corroborates the
        payment, and it should be shown to an operator rather than smoothed
        over with `paidAt`.
      properties:
        settledAt:
          type: [string, "null"]
          format: date-time
          description: The date money actually moved, per `source`.
        source:
          type: [string, "null"]
          enum: [bank_ledger, transfer_record, null]
          description: >
            `bank_ledger` is a matched transaction on a synced account and is
            the strongest evidence. `transfer_record` is Joltly's own record
            of an origination — good, but not independent confirmation.
        reference: { type: [string, "null"] }
        bankTransactionId: { type: [string, "null"] }
        bankAccount:
          type: [string, "null"]
          description: Display name of the account the money left, when known.
        bankAmount: { type: [number, "null"] }
        matchStatus:
          type: [string, "null"]
          enum: [matched, suggested, null]
          description: >
            `suggested` means Joltly proposed this bank transaction but no one
            has confirmed it. Do not quote a `suggested` settlement to a
            vendor as fact.

    BillAttachments:
      type: object
      properties:
        billId: { type: string }
        pdfUrl:
          type: [string, "null"]
          description: The invoice document. Null when none was ever attached.
        attachments:
          type: array
          description: Supplementary files. Empty when there are none.
          items:
            type: object
            properties:
              id: { type: string }
              url:
                type: string
                description: Time-limited download URL. Re-read rather than storing.
              fileName: { type: string }
              contentType: { type: string }
              size: { type: integer, description: Bytes. }
              uploadedAt: { type: [string, "null"], format: date-time }
        openInJoltly: { type: string }

    BillDuplicates:
      type: object
      properties:
        billId: { type: string }
        matchType:
          type: [string, "null"]
          enum: [exact_invoice_number, vendor_amount, null]
          description: >
            How the candidates were found, or `null` when there are none.
            `vendor_amount` is the weaker signal — recurring monthly charges
            from one vendor legitimately repeat.
        matches:
          type: array
          description: At most five, and empty when nothing matched.
          items:
            type: object
            properties:
              id: { type: string }
              invoiceNumber: { type: [string, "null"] }
              vendorName: { type: string }
              amount: { type: [number, "null"] }
              status: { type: string }
              invoiceDate: { type: [string, "null"] }
              openInJoltly: { type: string }
        openInJoltly: { type: string }

    RemittanceAdviceRequest:
      type: object
      required: [billIds]
      properties:
        billIds:
          type: array
          minItems: 1
          maxItems: 50
          description: Bills to include. All must belong to this vendor.
          items: { type: string, minLength: 1, maxLength: 100 }
        dryRun:
          type: boolean
          default: true
          description: >
            Defaults to `true`. Set `false` only after a human has seen the
            built document — an omitted flag must never mean "send".
        recipientEmail:
          type: string
          format: email
          maxLength: 320
          description: Overrides the vendor's remittance address for this send.
        ccEmails:
          type: array
          maxItems: 10
          items: { type: string, format: email, maxLength: 320 }
        personalNote:
          type: string
          maxLength: 2000
          description: Free text placed in the body above the payment table.

    RemittanceAdvice:
      type: object
      properties:
        organizationId: { type: string }
        orgName: { type: string }
        vendorId: { type: [string, "null"] }
        vendorName: { type: string }
        recipientEmail:
          type: [string, "null"]
          description: Null means there is nowhere to send it.
        recipientSource:
          type: [string, "null"]
          enum:
            - explicit_override
            - vendor_remittance_email
            - vendor_notification_email
            - null
        lines:
          type: array
          items: { $ref: "#/components/schemas/RemittanceAdviceLine" }
        totalAmount: { type: number }
        confirmedAmount:
          type: number
          description: >
            The portion the bank corroborates. Quote this, not `totalAmount`,
            when asserting payment to a third party.
        unconfirmedCount:
          type: integer
          description: Lines carrying a `caveat`.
        subject: { type: string }
        text:
          type: string
          description: Plain-text rendering, for pasting into an existing thread.
        html:
          type: string
          description: Exactly the HTML a send would deliver.
        warnings:
          type: array
          items: { type: string }
        dryRun: { type: boolean }
        sent:
          type: boolean
          description: >
            Always present, and always `false` on a dry run. "Would send" and
            "did send" are never told apart by a missing field.
        wouldSendTo:
          type: [string, "null"]
          description: Present on a dry run only.
        sentTo:
          type: [string, "null"]
          description: Present on a real send only.
        messageId: { type: [string, "null"] }
        skipped:
          type: string
          description: Present only when a real send was declined, and why.

    RemittanceAdviceLine:
      type: object
      properties:
        billId: { type: string }
        invoiceNumber: { type: [string, "null"] }
        invoiceDate: { type: [string, "null"], format: date-time }
        amount: { type: number }
        paymentStatus: { type: [string, "null"] }
        settledAt: { type: [string, "null"], format: date-time }
        settlementSource: { type: [string, "null"], enum: [bank_ledger, transfer_record, null] }
        paymentReference: { type: [string, "null"] }
        achTraceNumber: { type: [string, "null"] }
        bankAccount: { type: [string, "null"] }
        bankMatchStatus: { type: [string, "null"], enum: [matched, suggested, null] }
        caveat:
          type: [string, "null"]
          description: >
            Non-null when this line is not safe to present as a settled
            payment.

    Approver:
      type: object
      properties:
        id:
          type: string
          description: Matches `Bill.assignedTo`.
        name: { type: string }
        email: { type: string, format: email }
        role:
          type: string
          description: Organization role. Defaults to `Member` when unset.

    SpendSummary:
      type: object
      properties:
        groups:
          type: array
          description: >
            Top 200 groups, ordered by absolute total descending. Uncoded
            lines appear under `(no vendor)`, `(not well-coded)`, or
            `(uncoded)` rather than being dropped.
          items:
            type: object
            properties:
              name: { type: string }
              total: { type: number }
              lineCount: { type: integer }
        truncatedGroupCount:
          type: integer
          description: >
            Groups beyond the top 200. Their spend is still inside
            `grandTotal`.
        grandTotal:
          type: number
          description: Every group in range, including truncated ones.
        excludedBillCount:
          type: integer
          description: >
            Bills in range with no line items, which cannot be grouped. When
            this is non-zero, `grandTotal` understates real spend.

    MissingStatementsSummary:
      type: object
      properties:
        months:
          type: array
          description: The months examined, newest first.
          items: { type: string }
        generatedAt: { type: string, format: date-time }
        purchasers:
          type: array
          description: >
            Every purchaser believed to owe a statement. Partly a cadence
            inference — see `paidNoStatement` for the corroborated subset.
          items: { $ref: "#/components/schemas/MissingPurchaserGroup" }
        paidNoStatement:
          type: array
          description: >
            The subset the bank proves: money arrived and nothing was filed
            against it.
          items: { $ref: "#/components/schemas/MissingPurchaserGroup" }
        paidNoStatementTotal: { type: number }
        neverFiledCount:
          type: integer
          description: >
            Purchasers with no statement on file at all, found from deposits
            alone.
        unattributedDeposits:
          type: [object, "null"]
          description: >
            Deposits that name no payer, so they can back no row above.
            Returned even when zero, because a caller must not read the
            purchaser list as complete.
          properties:
            paper:
              type: object
              properties:
                count: { type: integer }
                amount: { type: number }
            unnamed:
              type: object
              properties:
                count: { type: integer }
                amount: { type: number }
        caveat:
          type: string
          description: >
            Prose restatement of a non-zero `unattributedDeposits`, present
            only when it matters. A purchaser who pays by check leaves no
            descriptor and will never appear as a row.

    MissingPurchaserGroup:
      type: object
      properties:
        purchaserName: { type: string }
        months:
          type: array
          description: Overdue months for this purchaser, newest first.
          items: { type: string }
        depositCount: { type: integer }
        depositTotal: { type: number }
        neverFiled: { type: boolean }
        payerKeys:
          type: array
          description: >
            Every distinct payer key the deposits arrived under. Usually one;
            more when the bank truncated the originator differently across
            months. A "this payer is that purchaser" rule has to be written
            for all of them or the un-ruled spelling reappears next month.
          items: { type: string }
        descriptorSample:
          type: [string, "null"]
          description: One raw bank descriptor, so a human can see what they are ruling on.
        provisional:
          type: boolean
          description: >
            True when no deposit backing this row has a confirmed purchaser
            name.

    RevenueStatementSummary:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        statementNumber: { type: [string, "null"] }
        purchaserName: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/RevenueStatementStatus" }
        checkDate: { type: [string, "null"], format: date-time }
        grossRevenue: { type: [number, "null"] }
        checkTaxes: { type: [number, "null"] }
        checkDeductions: { type: [number, "null"] }
        amountWithheld: { type: [number, "null"] }
        netPayment: { type: [number, "null"] }

    RevenueStatementDetail:
      allOf:
        - { $ref: "#/components/schemas/RevenueStatementSummary" }
        - type: object
          properties:
            lineItems:
              type: array
              items: { $ref: "#/components/schemas/RevenueLineItem" }

    RevenueLineItem:
      type: object
      properties:
        id: { type: string }
        lineNumber: { type: [integer, "null"] }
        productionDate: { type: [string, "null"], format: date-time }
        leaseNumber: { type: [string, "null"] }
        leaseDescription: { type: [string, "null"] }
        product: { $ref: "#/components/schemas/ProductRef" }
        unit: { $ref: "#/components/schemas/ProductRef" }
        interestType: { $ref: "#/components/schemas/ProductRef" }
        price: { type: [number, "null"] }
        wellGrossVolume: { type: [number, "null"] }
        wellGrossValue: { type: [number, "null"] }
        wellNetValue: { type: [number, "null"] }
        ownerInterest: { type: [number, "null"] }
        distributionInterest: { type: [number, "null"] }
        ownerGrossVolume: { type: [number, "null"] }
        ownerGrossValue: { type: [number, "null"] }
        ownerNetValue: { type: [number, "null"] }
        well: { $ref: "#/components/schemas/WellRef" }
        deductions:
          type: array
          items: { $ref: "#/components/schemas/RevenueDeduction" }

    RevenueDeduction:
      type: object
      properties:
        id: { type: string }
        description: { type: [string, "null"] }
        amount: { type: [number, "null"] }
        scope: { type: [string, "null"] }
        type:
          type: [object, "null"]
          properties:
            code: { type: [string, "null"] }
            name: { type: [string, "null"] }
            category: { type: [string, "null"] }

    CostCenter:
      type: object
      properties:
        id: { type: string }
        type: { $ref: "#/components/schemas/CostCenterType" }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber:
          type: [string, "null"]
          description: WELL only; null for fields and operating groups.
        active:
          type: [boolean, "null"]
          description: WELL only; null for fields and operating groups.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Well:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        apiNumber: { type: [string, "null"] }
        operator: { type: [string, "null"] }
        operatedByOrg: { type: [boolean, "null"] }
        active: { type: [boolean, "null"] }
        status: { type: [string, "null"] }
        state: { type: [string, "null"] }
        county: { type: [string, "null"] }
        legalDescription: { type: [string, "null"] }
        spudDate: { type: [string, "null"], format: date-time }
        completionDate: { type: [string, "null"], format: date-time }
        firstProductionDate: { type: [string, "null"], format: date-time }
        shutInDate: { type: [string, "null"], format: date-time }
        plugDate: { type: [string, "null"], format: date-time }
        inactiveDate: { type: [string, "null"], format: date-time }

    JibSummary:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        jibNumber: { type: [string, "null"] }
        period: { type: [string, "null"], description: "Billing period, YYYY-MM." }
        periodStatus: { type: [string, "null"] }
        partnerId: { type: [string, "null"] }
        partnerName: { type: [string, "null"] }
        status: { $ref: "#/components/schemas/JibStatus" }
        dueDate: { type: [string, "null"], format: date-time }
        sentDate: { type: [string, "null"], format: date-time }
        paidDate: { type: [string, "null"], format: date-time }

    JibDetail:
      allOf:
        - { $ref: "#/components/schemas/JibSummary" }
        - type: object
          properties:
            totalAmount:
              type: number
              description: Net of debits and credits.
            entries:
              type: array
              items: { $ref: "#/components/schemas/JibEntry" }

    JibEntry:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        entryType: { type: string, enum: [DEBIT, CREDIT] }
        reason: { type: [string, "null"] }
        amount:
          type: number
          description: Always positive; entryType determines the sign.
        grossAmount: { type: [number, "null"] }
        interestPercent:
          type: [number, "null"]
          description: Human percent, 0–100.
        description: { type: [string, "null"] }
        vendorName: { type: [string, "null"] }
        invoiceNumber: { type: [string, "null"] }
        expenseDate: { type: [string, "null"], format: date-time }
        serviceStartDate: { type: [string, "null"], format: date-time }
        serviceEndDate: { type: [string, "null"], format: date-time }
        well: { $ref: "#/components/schemas/WellRef" }
        glAccount: { $ref: "#/components/schemas/GlAccountRef" }

    Partner:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        email: { type: [string, "null"] }
        phone: { type: [string, "null"] }
        address: { type: [string, "null"] }
        isActive: { type: [boolean, "null"] }
        externalId: { type: [string, "null"] }
        quickbooksCustomerId: { type: [string, "null"] }
        quickbooksVendorId: { type: [string, "null"] }

    Vendor:
      type: object
      properties:
        id:
          type: string
          description: The vendor's ID in your accounting system (ODA/QuickBooks).
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        name: { type: [string, "null"] }
        code: { type: [string, "null"] }
        active: { type: [boolean, "null"] }
        lastSyncedAt: { type: [string, "null"], format: date-time }

    BankAccount:
      type: object
      description: A customer bank account already linked in Joltly. Plaid tokens are never exposed.
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        institutionName: { type: [string, "null"] }
        accountName: { type: [string, "null"] }
        mask: { type: [string, "null"] }
        accountType: { type: [string, "null"] }
        accountSubtype: { type: [string, "null"] }
        lastSeenAt: { type: [string, "null"], format: date-time }
        latestBalance:
          type: [object, "null"]
          properties:
            current: { type: [number, "null"] }
            available: { type: [number, "null"] }
            asOf: { type: [string, "null"], format: date-time }
            currency: { type: [string, "null"] }
        openInJoltly: { type: string }

    BankTransaction:
      type: object
      description: >
        One synced ledger row. `amount` is absolute; `direction` carries the sign.
        `matchStatus` is derived (matched / suggested / unmatched / excluded).
      properties:
        id: { type: string }
        date: { type: string, format: date-time }
        authorizedDate: { type: [string, "null"], format: date-time }
        amount: { type: number }
        direction: { type: string, enum: [CREDIT, DEBIT] }
        name: { type: string }
        merchantName: { type: [string, "null"] }
        category: { type: [string, "null"] }
        checkNumber: { type: [string, "null"] }
        pending: { type: boolean }
        currency: { type: string }
        excluded: { type: boolean }
        matchStatus: { type: string, enum: [matched, suggested, unmatched, excluded] }
        account:
          type: [object, "null"]
          properties:
            id: { type: string }
            institutionName: { type: [string, "null"] }
            accountName: { type: [string, "null"] }
            mask: { type: [string, "null"] }
            accountType: { type: [string, "null"] }
            accountSubtype: { type: [string, "null"] }
        matches:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              status: { type: string }
              matchType: { type: string }
              amountApplied: { type: [number, "null"] }
              confidence: { type: [number, "null"] }
              bill:
                type: [object, "null"]
                properties:
                  id: { type: string }
                  invoiceNumber: { type: [string, "null"] }
                  openInJoltly: { type: string }
              revenueStatement: { type: [object, "null"] }
              paymentIntent: { type: [object, "null"] }
              mailedCheck: { type: [object, "null"] }
              invoice: { type: [object, "null"] }
        openInJoltly: { type: string }

    BankActivitySummary:
      type: object
      properties:
        dateFrom: { type: string, format: date-time }
        dateTo: { type: string, format: date-time }
        transactionCount: { type: integer }
        pendingCount: { type: integer }
        excludedCount: { type: integer }
        credits: { type: number }
        debits: { type: number }
        net: { type: number }
        unmatched:
          type: object
          properties:
            credits: { type: integer }
            creditAmount: { type: number }
            debits: { type: integer }
            debitAmount: { type: number }
        byAccount:
          type: array
          items:
            type: object
            properties:
              accountId: { type: string }
              institutionName: { type: [string, "null"] }
              accountName: { type: [string, "null"] }
              mask: { type: [string, "null"] }
              credits: { type: number }
              debits: { type: number }
              unmatchedCredits: { type: integer }
              unmatchedDebits: { type: integer }
        openInJoltly: { type: string }

    PnlRow:
      type: object
      description: One report line — a per-month breakdown plus a period total.
      required: [id, label, byMonth, total]
      properties:
        id: { type: string }
        label: { type: string }
        byMonth:
          type: object
          description: Amount per month, keyed by "YYYY-MM" (matching the report's `months`).
          additionalProperties: { type: number }
        total: { type: number }

    PnlExpenseGroup:
      type: object
      description: Operating-expense report group (e.g. Lease Operating Expense) with its accounts.
      required: [name, accounts, total]
      properties:
        name: { type: string }
        accounts:
          type: array
          items: { $ref: "#/components/schemas/PnlRow" }
        total: { $ref: "#/components/schemas/PnlRow" }

    ProfitLossReport:
      type: object
      required: [months, revenue, expenses, capex, netIncome, cashFlow, meta]
      properties:
        months:
          type: array
          description: '"YYYY-MM" month keys, ascending. Every row''s `byMonth` is keyed by these.'
          items: { type: string }
        revenue:
          type: object
          required: [byProduct, grossTotal, taxes, deductions, netTotal]
          properties:
            byProduct:
              type: array
              items: { $ref: "#/components/schemas/PnlRow" }
            grossTotal: { $ref: "#/components/schemas/PnlRow" }
            taxes: { $ref: "#/components/schemas/PnlRow" }
            deductions: { $ref: "#/components/schemas/PnlRow" }
            netTotal: { $ref: "#/components/schemas/PnlRow" }
        expenses:
          type: object
          description: Operating expenses only. CapEx is reported separately under `capex`.
          required: [groups, total]
          properties:
            groups:
              type: array
              items: { $ref: "#/components/schemas/PnlExpenseGroup" }
            total: { $ref: "#/components/schemas/PnlRow" }
        capex:
          type: object
          description: >
            Capital spend broken out by account (e.g. intangible drilling,
            tangible drilling & completion). Excluded from `expenses.total` and
            `netIncome`.
          required: [accounts, total]
          properties:
            accounts:
              type: array
              items: { $ref: "#/components/schemas/PnlRow" }
            total: { $ref: "#/components/schemas/PnlRow" }
        netIncome:
          allOf:
            - { $ref: "#/components/schemas/PnlRow" }
          description: Net Revenue − Operating Expenses (excludes CapEx).
        cashFlow:
          type: object
          description: >
            Money actually moved in the period, independent of the
            accrual/interest bases. Cash in = revenue received (statement net
            payment by check date); cash out = bills paid (by paid date,
            including CapEx).
          required: [cashIn, cashOut, netCash]
          properties:
            cashIn: { $ref: "#/components/schemas/PnlRow" }
            cashOut: { $ref: "#/components/schemas/PnlRow" }
            netCash: { $ref: "#/components/schemas/PnlRow" }
        meta:
          type: object
          description: The resolved parameters this report was computed with.
          properties:
            startDate: { type: string, format: date-time }
            endDate: { type: string, format: date-time }
            wellIds:
              type: [array, "null"]
              items: { type: string }
            revenueDateBasis: { type: string, enum: [production, check] }
            expenseDateBasis: { type: string, enum: [invoice, paid] }
            interestBasis: { type: string, enum: [owner, eightEighths] }
